<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="automation-classplus-store-mobile">

	<parameter name="language" value="en" />
	<parameter name="url" value="local" />
	<parameter name="otp" value="1234" />
	<parameter name="deviceName_one" value="Galaxy" />
	<parameter name="udid_one" value="RZ8R81QJAFR" />
	<parameter name="udid_two" value="RZ8R81QJAFR" />
	<parameter name="udid_three" value="RZ8R81QJAFR" />
	<parameter name="platformName_one" value="Android" />
	<parameter name="platformVersion_one" value="12" />
	<parameter name="browser" value="chrome" />
	<parameter name="siteURL" value="https://webp-gcp.classplusapp.com/" />
	<parameter name="clientApiKey" value="6746f86b-0d3b-4746-a042-5e9d2beeeeac" />
	<parameter name="siteURL" value="https://webp-gcp.classplusapp.com/" />

	<parameter name="clientApiKey" value="6746f86b-0d3b-4746-a042-5e9d2beeeeac" />
	<test name="classplus WL automation">
		<classes>
			<class name="com.classplusapp.mobile.tests.CourseMarkFeaturedTest" />
			<class name="com.classplusapp.mobile.tests.StudentCertificateTest" />
			<class name="com.classplusapp.mobile.PhysicalDeliveryTest" />
		</classes>
	</test>
</suite>
